@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  background: #85d9e6 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}
.buttons1{
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #7e7a7a;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  margin-top: 100px;
}

.signupinner {
  width: 450px;
  margin: auto;
  background: #d1cece;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  
  transition: all 0.3s;
}

.form-control{
    margin-left: 15px;
    margin-top: 5px;

}

.signup .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.signup h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
  display: flex;
  
}

.forgot-password,
.forgot-password a {
  
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}


.forgot-password a {
  color: #167bff;
}

table,
th,
td {
  border: 1px solid black !important;
}