.inner{
    background-color: rgb(87, 169, 184);
    width:300px;
    margin:auto;
    margin-top: 10%;
    padding:5px;
    border:40px;
    border-radius: 45px;
    box-shadow: 2px 2px 2px 2px grey;
}