@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');


.Cards{
    font-family:'Barlow Condensed', sans-serif;
}

.card{
    display: contents;
}
.card-body{
    display: block;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    font-weight: bold;
    color: #3e96c9;   
    background-color: aqua;

}
