.forms{
    background-color: aqua;
    width:300px;
    height:400px;
    padding:20px;
    border-radius: 30px;
}
.content{
    width: 100%;
    margin-top:100px ;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    }
    .field1{
        height: 40px;
        width: 250px;
        text-align: center;
        font-size: 20px;
        background-color: rgb(191, 189, 187);
    }
   
    .field2{
        width: 250px;
        height: 200px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
        background-color: rgb(191, 189, 187);
    }